<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Índice de Bancos</title>
    <style>
        .bank {
            display: inline-block;
            margin: 20px;
        }

        .bank img {
            width: 100px; 
            height: auto;
        }
    </style>
</head>
<body>
    <h1>Índice de Bancos</h1>
    <div class="bank">
        <img src="URL_IMAGEN_BANCO_1" alt="Logo Banco 1">
        <p>Nombre del Banco 1</p>
        <img src="https://es.123rf.com/photo_15557632_3d-ilustración-banco-online-internet-en-todo-el-mundo-los-bancos.html_image.jpg" alt="Logo del banco">

    </div>
    <div class="bank">
        <img src="URL_IMAGEN_BANCO_2" alt="Logo Banco 2">
        <p>Nombre del Banco 2</p>
    </div>
  
</body>
</html>
